.piece-group {
    display: inline;
}

.evalute-group {
    display: inline-block;
}

.evalute-image {
    width: 32px;
    height: 32px;
}

.pin-group {
    display: inline-block;
}

.pin-row {
    display: inline;
}

.guess-row {
    display: inline-block;
    border  : 1px solid black;
    background: lightgray;
}